.large {
    color: dodgerblue;
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
}

.medium {
    color: aquamarine;
    font-size: 1.3em;
    font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
    letter-spacing: 2px
}

.small {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: .9em;
    color: blueviolet''
}